<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">


<div id="layoutSidenav_content">
	<main>
		<div class="container-fluid px-4">

			<div class="row mt-3 mb-5">


				<!-- 관리버튼 -->
				<div class="btns">
					<div>
						<!-- <input value="카테고리추가" type="button" onclick="addCategory()" id="addCategory"> -->
						<button type="button" onclick="addCategory()" id="addCategoryBtn">카테고리</button>
					</div>
					<div>
						<button type="button" onclick="addBoard()" id="addBoardBtn">게시판</button>
					</div>
				</div>

				<!-- 카테고리 + 게시판 리스트 -->
				<!-- https://github.com/Fidget278/petopia/blob/develop/WebContent/viewDetailArticleContent.jsp
				342 -->
				<div id="categoryBoardList">
					<table>
						<th:block th:each="category : ${categoryBoardList}">

							<tr th:id="${category.getCategoryNo()}">
								<td th:onclick="modifyCategory(this)">
									<div th:text="${category.getCategoryName()}"></div>
								</td>
							</tr>
							
							<th:block th:if="${category.getBoardList() != null}">

								<th:block th:each="board : ${category.boardList}">

									<tr th:id="${board.getBoardNo()}">
										<td th:onclick="modifyBoard(this)">
											<div th:text="${board.boardName}"></div>
										</td>
									</tr>
									
								</th:block>
							</th:block>

						</th:block>
					</table>
				</div>


				<!-- 빈페이지 -->
				<div id="Blank">
				</div>

				<!-- 카테고리 추가 -->
				<div id="writeCategory" style="display: none;">
					<form th:action="@{/writeCategory}" th:object="${categoryVo}" method="post">
						<input type="text" th:field="*{categoryName}" placeholder="카테고리 이름">
						<div>
							<button type="reset"> 취소 </button>
							<button type="submit"> 저장 </button>
						</div>
					</form>
				</div>

				<!-- 카테고리 수정 -->
				<div id="modifyCategory" style="display: none;">
					<form th:action="@{/modifyCategory}" th:object="${categoryVo}" method="post">
						<input id="categoryName" type="text" th:field="*{categoryName}">
						<input id="categoryNo" type="hidden" th:field="*{categoryNo}">
						<div>
							<!-- <button type="button" id="removeCategoryBtn" onclick="removeCategory()"> 삭제 </button> -->
							<button type="button" id="removeCategoryBtn" onclick="removeCategory()"> 삭제 </button>
							<button type="reset"> 취소 </button>
							<button type="submit"> 저장 </button>
						</div>
					</form>
				</div>

				<!-- 게시판 추가 -->
				<div id="writeBoard" style="display: none;">
					<form th:action="@{/writeBoard}" method="post">
						<div id="addBoardForm"></div>
						
						<div>
							<button type="reset"> 취소 </button>
							<button type="submit"> 저장 </button>
						</div>
					</form>
				</div>

				<!-- 게시판 수정 -->
				<div id="modifyBoard" style="display: none;">
					<form th:action="@{/modifyBoard}" method="post">
						<div id="modifyBoardForm"></div>
						
						<div>
							<button type="button" id="removeBoardBtn" onclick="removeBoard()"> 삭제 </button>
							<button type="reset"> 취소 </button>
							<button type="submit"> 저장 </button>
						</div>
					</form>
				</div>


			</div>
		</div>
	</main>

	<!-- ajax -->

	<script th:src="@{../js/jquery-3.6.0.min.js}"></script>
	<script type="text/javascript" th:inline="javascript">

		//카테고리 추가
		function addCategory() {

			$('#modifyCategory').hide();
			$('#modifyBoard').hide();
			$('#writeCategory').hide();
			$('#writeCategory').appendTo('#Blank');
			$('#writeCategory').show();
		};


		//카테고리 수정
		function modifyCategory(e) {
			console.log($(e).closest("tr").attr("id")); //가장 가까운 부모인 "tr"의 "id" 갖고 오기
			console.log($(e).text());

			$('#writeCategory').hide();
			$('#writeBoard').hide();
			$('#modifyBoard').hide();
			$('#modifyCategory').appendTo('#Blank');
			$('#modifyCategory').show();

			$('#categoryNo').val($(e).closest("tr").attr("id"));
		}


		//카테고리 삭제
		function removeCategory() {
			let categoryNo = $("#categoryNo").val();
			console.log("categoryNo : " + categoryNo);

			$.ajax({
				url: "/deleteCategory",
				type: "POST",
				data: { categoryNo },

				success: function (categoryNo) {
					console.log(categoryNo.categoryNo);
					alert(categoryNo.categoryNo);
					resolve(categoryNo);
				},
				error: function () {
				}
			});
		}


		//게시판 추가
		function addBoard() {

			$('#modifyCategory').hide();
			$('#writeCategory').hide();
			$('#modifyBoard').hide();
			$('#writeBoard').appendTo('#Blank');
			$('#writeBoard').show();

			$.ajax({
				url: "/selectList",
				type: "POST",
				success: function (data) {
					// resolve(data);

					let list = null;
					list = data;
					let addBoardForm = "";
					addBoardForm += "<table>";
					addBoardForm += "<tbody>";
					addBoardForm += "<tr>";
					addBoardForm += "<td>카테고리:</td>";
					addBoardForm += "<td><select name='category'>";
					for (let i = 0; i < list.categoryList.length; i++) {
						addBoardForm += "<option value=" + list.categoryList[i].categoryNo +">" + list.categoryList[i].categoryName + "</option>";
					}

					addBoardForm += "</select></td>";
					addBoardForm += "</tr>";
					addBoardForm += "<tr>";
					addBoardForm += "<td>게시판명:</td>	<td><input type='text' name='boardName'/></td></tr>";

					addBoardForm += "</tr>";
					addBoardForm += "<tr>";
					addBoardForm += "<td>게시글 쓰기등급:</td>";
					addBoardForm += "<td><select name='writeGrade'>";
					for (let i = 0; i < list.gradeList.length; i++) {
						
						addBoardForm += "<option value=" + list.gradeList[i].gradeNo +">" + list.gradeList[i].name + "</option>";
						
					}
					addBoardForm += "</select></td>";
					addBoardForm += "</tr>";
					
					addBoardForm += "</tr>";
					addBoardForm += "<tr>";
					addBoardForm += "<td>게시글 읽기등급:</td>";
					addBoardForm += "<td><select name='readGrade'>";
					for (let i = 0; i < list.gradeList.length; i++) {
						
						addBoardForm += "<option value=" + list.gradeList[i].gradeNo +">" + list.gradeList[i].name + "</option>";
						
					}
					addBoardForm += "</select></td>";
					addBoardForm += "</tr>";

					addBoardForm += "<tr>";
					addBoardForm += "<td>게시판 종류:</td>";
					addBoardForm += "<td><select name='boardkind'>";
					addBoardForm += "<option value=0>기본 게시판</option>"
					addBoardForm += "<option value=1>썸네일 게시판</option>"
					addBoardForm += "</select></td>";
					addBoardForm += "</tr>";
					addBoardForm += "</tbody>";
					addBoardForm += "</table>";
					console.log(addBoardForm);
					$('#addBoardForm').html(addBoardForm);
				},
				error: function (e) {
				}
			})
		}

	//게시판 수정
	function modifyBoard(e) {
		console.log("modifyBoard" + $(e).closest("tr").attr("id"));
		console.log($(e).text());

		$('#writeCategory').hide();
		$('#modifyCategory').hide();
		$('#writeBoard').hide();
		$('#modifyBoard').appendTo('#Blank');
		$('#modifyBoard').show();

	}


	//게시판 삭제
	function removeBoard() {
		
		let boardNo = $("#boardNo").val();
			console.log("remove boardNo : " + boardNo);

			$.ajax({
				url: "/deleteBoard",
				type: "POST",
				data: { boardNo },

				success: function (boardNo) {
					console.log(boardNo.boardNo);
					alert(boardNo.boardNo);
					resolve(boardNo);
				},
				error: function () {
				}
			});
	}


	</script>







</div>


</html>