<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<div id="layoutSidenav_content">
	<main>
		<div id="container">
			<div class="inner">
				<h3>게시글 세부 조회</h3>
				<form id="detailContent" th:object="${article}" name="article">
					<table width=100%>
						<colgroup>
							<col width="15%">
							<col width="35%">
							<col width="15%">
							<col width="*">
						</colgroup>
						<tbody>
							<tr>
								<th>제목</th>
								<td th:text="${article.subject}" th:field="*{subject}"></td>
								<th>조회수</th>
								<td th:text="${article.viewcount}" th:field="*{viewcount}"></td>
							</tr>
							<tr>
								<th>작성자</th>
								<td th:text="${article.nickname}" th:field="*{nickname}"></td>
								<th>작성일</th>
								<td th:text="${article.writeDate}"></td>
							</tr>
							<tr>
								<th>내용</th>
							<td th:text="${article.content}" th:field="*{content}"></td>
							</tr>
							<tr>
								<th>첨부파일</th>
								<td>파일.jpg</td>
							</tr>
						</tbody>
					</table>
				</form>
			</div>
		</div>
	</main>
</div>
</html>