<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<div id="layoutSidenav_content">
	<main>
		<div id="container">
			<div class="inner">
				<h3>게시글 세부 조회</h3>
				<form id="detailContent" th:object="${article}" name="article">
					<table width=100%>
						<colgroup>
							<col width="15%">
							<col width="35%">
							<col width="15%">
							<col width="*">
						</colgroup>
						<tbody>
							<tr>
								<th>제목</th>
								<td th:text="${article.subject}" th:field="*{subject}"></td>
								<th>조회수</th>
								<td th:text="${article.viewcount}" th:field="*{viewcount}"></td>
							</tr>
							<tr>
								<th>작성자</th>
								<td th:text="${article.nickname}" th:field="*{nickname}"></td>
								<th>작성일</th>
								<td th:text="${article.writeDate}"></td>
							</tr>
							<tr>
								<th>내용</th>
								<td th:text="${article.content}" th:field="*{content}"></td>
							</tr>
							<tr>
								<th>첨부파일</th>
								<td th:if="${article.attacheFile == null}">첨부된 파일이 없습니다.</td>
								<td th:unless="${article.attacheFile == null}"><a th:href="|/attach/${article.getAttacheFile().getNo()}|"
									 th:text="${article.getAttacheFile().getSystemFileName()}|"></a>
								</td>
							</tr>
							<tr th:if="${article.fileList != null}">
							<td>
								<!--이미지 파일들-->
								<img th:each="imageFile : ${article.fileList}" th:src="|/images/${imageFile.getSystemFileName()}|" width="200" height="200"/>
								</td>
							</tr>
							<tr>
								<div style="display: inline;">
									<td colspan="2">
										<input type="button" th:onclick="|location.href='@{/writeArticleForm}'|" value="글쓰기"/>
										<input type="button" th:onclick="|location.href='@{/nListArticle/${article.boardNo}}'|" value="목록"/>
										<input type="button" value="추천"/>
										<strong class="like_num">23</strong>
										<input type="button" value="답글쓰기"/>
									</td>
								</div>
								

								<!--본인만 가능-->
								<div style="float: right;">
									<td>
										<input type="button" value="수정"/>
										<input type="button" value="삭제"/>
									</td>
								</div>
							</tr>
						</tbody>
					</table>
				</form>
			</div>
		</div>
	</main>
</div>
</html>