<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script th:src="@{/webjars/jquery/3.6.0/jquery.min.js}"></script> 
</head>
<body>
	<span onclick="location.href='/main'">페토피아로 돌아가기</span>
	<div class="note-header-style">
	<span onclick="location.href='/notelist?isRecieve=1'">받은쪽지함</span>
	<span onclick="location.href='/notelist?isRecieve=0'">보낸쪽지함</span>
	</div>
	<table class="note-table-style">
		<thead>
			<tr class="note-table-tr-style">
				<th>번호</th>
				<th th:if="${isRecieve} == 1">보낸사람</th>
				<th th:if="${isRecieve} == 0">받은사람</th>
				<th>내용</th>
				<th>보낸날짜</th>
				<th>읽은날짜</th>
				<!-- <th>선택</th> -->
			</tr>
		</thead>

		<tbody th:if = "${notelist} != null">
		<form id = "deleteForm" action = "/deletenote" method = "POST">
		<input type="hidden" id="isRecieve" name="isRecieve" th:value="${ isRecieve }"/>
		<tr th:each = "note : ${notelist}"> 
			<td th:text="${note.note_no}"></td>
			<td th:text="${note.counterpart_nickname}"></td>
			<td><a th:href="@{/notedetail(isRecieve=${isRecieve}, noteContentNo=${note.notecontent_no}, noteNo=${note.note_no})}"><span th:text="${note.content}"></span></a></td>
			<td th:text="${note.sendDate}"></td>
			<td th:if ="${note.read}" th:text="${note.readDate}"></td>
			<td th:if ="${note.read} == false">읽지않음</td>
			<td>
			<input type="checkbox" name="deleteNoteList" th:value="${ note.notecontent_no }">
			</td>
		</tr>
		 </form>
		</tbody>
		<tbody th:if = "${#lists.size(notelist)} == 0">
			<tr><th>쪽지가 없습니다.</th></tr>
		</tbody>
	</table>
	<button type = "submit" id = "delete">삭제</button>
	
	
<!-- 	
	<p>스타트 페이지 : ${ pageScope.startPage }</p>
	<p>엔드 페이지 : ${ pageScope.endPage }</p> -->
	<!-- <c:if test="${startPage > pageBlock }">
		<c:url var="prevUrl" value="/noteList.do">
			<c:param name="isRecieve" value="${ param.isRecieve }" />
			<c:param name="currentPage" value="${startPage - pageBlock}"></c:param>
		</c:url>
		<a href="${ prevUrl}">[PREV]</a>
	</c:if> -->
	page
	<!-- <c:forEach var="i" begin="${startPage }" end="${endPage }">
		<c:if test="${ i == currentPage }">
			${ i }
		</c:if>
		<c:if test="${ i != currentPage }">
			<c:url var="url" value="/noteList.do">
				<c:param name="isRecieve" value="${ param.isRecieve }" />
				<c:param name="currentPage" value="${i}"></c:param>
			</c:url>
			<a href="${url}">${ i }</a>
		</c:if>
	</c:forEach>
	<c:if test="${endPage < totalPage }">
		<c:url var="nextUrl" value="/noteList.do">
			<c:param name="isRecieve" value="${ param.isRecieve }" />
			<c:param name="currentPage" value="${endPage + 1}"></c:param>
		</c:url>
		<a href="${nextUrl }">[NEXT]</a>
	</c:if> -->

	<script>
		$('#delete').on('click', function(event) {	
			$("#deleteForm").submit();
			/* var form1 = $("#deleteForm").serialize();
			console.log(form1); */
		});
		/* $('#delete').on('click', function() {	
			let chk_arr = [];

			$("input[name=deleteNote]:checked").each(function() {
				var chk = $(this).val();
				chk_arr.push(chk);
				console.log(chk);
			}); 
		}); */
	</script>
</body>
</html>