<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">


<!-- <div class="contents">
	<div class="content-img">
		<a href="http://dogmoa.co.kr/" target='_blank'> <img
			alt="Main-Img" src="img/main-1.png">
		</a> <a href="https://dmanimal.co.kr/" target='_blank'> <img
			alt="Main-Img" src="img/main-2.png">
		</a> <a href="https://www.notepet.co.kr/" target='_blank'> <img
			alt="Main-Img" src="img/main-3.png"></a> <a
			href="https://www.animal.go.kr/front/index.do" target='_blank'> <img
			alt="Main-Img" src="img/main-4.png"></a>
	</div>

	<div class="content-board">전체글 보기 내용</div>
</div> -->

<div id="layoutSidenav_content">
	<main>
		<div class="container-fluid px-4">

			<div class="row mt-3 mb-5">

				<!-- <div class="content-img"><div>
				<a href="javascript:void(window.open('/writenote?memberNo=2', '쪽지작성창','width=500px, height=500px'))">
				이이이에게 쪽지 보내기
				</a>
				</div> -->
					<table class="content-img-table">
						<tbody>
							<tr>
								<td><a href="http://dogmoa.co.kr/" target='_blank'
									class="content-img-a"> <img alt="Main-Img"
										src="images/main-1.png" class="content-img-img">
								</a></td>
								<td><a href="https://dmanimal.co.kr/" target='_blank'
									class="content-img-a"> <img alt="Main-Img"
										src="images/main-2.png" class="content-img-img">
								</a></td>

							</tr>
							<tr>
								<td><a href="https://www.notepet.co.kr/" target='_blank'
									class="content-img-a"> <img alt="Main-Img"
										src="images/main-3.png" class="content-img-img"></a></td>
								<td><a href="https://www.animal.go.kr/front/index.do"
									target='_blank'> <img alt="Main-Img" src="images/main-4.png"
										class="content-img-img">
								</a></td>

							</tr>
						</tbody>
					</table>
				</div>

			</div>
			<div class="card mb-4">
				<div class="card-header">
					<i class="fas fa-table me-1"></i><span> 전체 글 보기</span>
				</div>
				<div class="card-body">
					<table id="datatablesSimple">
						<thead>
							<tr>
								<th>No</th>
								<th>제목</th>
								<th>날짜</th>
								<th>조회수</th>
								<th>좋아요</th>
							</tr>
						</thead>
						<tfoot>
							<tr>
								<th>No</th>
								<th>제목</th>
								<th>날짜</th>
								<th>조회수</th>
								<th>좋아요</th>
							</tr>
						</tfoot>
						<tbody>
							
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</main>
</div>

</html>
