<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<!-- <div class="header-top">
	<div class="header-profile">
		<span class="material-icons"> account_circle </span>
	</div>
	<div class="header-alarm">
		<span class="material-icons"> notifications_none </span>
	</div>
	<div class="header-icon">
		<span class="material-icons"> widgets </span>
	</div>
	<form action="#" class="header-all-search">
		<input type="text" name="all-search" class="header-search-hide">
		<a href="#" class="header-search-icon"><span
			class="material-icons"> search </span></a>
	</form>
</div>

<img src="img/banner-img.jpg" alt="배너">
 -->
<nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
            <!-- Navbar Brand-->
            <a class="navbar-brand ps-3" href="/">Petopia</a>
            
            <!-- Sidebar Toggle-->
            <button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0" id="sidebarToggle" href="#!"><i class="fas fa-bars"></i></button>
           
            <!-- Navbar Search-->
            <form class="d-none d-md-inline-block form-inline ms-auto me-0 me-md-3 my-2 my-md-0">
                <div class="input-group">
                    <input class="form-control" type="text" placeholder="Search for..." aria-label="Search for..." aria-describedby="btnNavbarSearch" />
                    <button class="btn btn-primary" id="btnNavbarSearch" type="button"><i class="fas fa-search"></i></button>
                </div>
            </form>
           
           	<!-- admin Toggle-->
            <button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0 icon-gray" id="adminToggle" href="#!"><i class="fas fa-cog fa-lg"></i></button>
           
           <!-- alarm Toggle-->
            <button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0 icon-gray" id="alramToggle" href="#!"><i class="fas fa-bell fa-lg"></i></button>           
            
            <!-- Navbar-->
            <ul class="navbar-nav ms-auto ms-md-0 me-3 me-lg-4">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="fas fa-user fa-fw"></i></a>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="#!">가가가</a></li>
                        <li><a class="dropdown-item" href="#!">신입집사</a></li>
                        <li><hr class="dropdown-divider" /></li>
                        <li><a class="dropdown-item" href="#!">Profile</a></li>
			<li><a class="dropdown-item" href="#!">쪽지함</a></li>
                        <li><hr class="dropdown-divider" /></li>
                        <li><a class="dropdown-item" href="#!">Logout</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
</html>
